* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: rgba(5,14,52,.7);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  position: relative;
  z-index: 10;
}

.block-files__body {
  color: #fff;
}

.block-files__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  padding: 40px 0px 50px 0px;
}

.block-files__description {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: left;
  margin: 0px 0px 60px 0px;
}

.block-files__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  gap: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 10;
}

.block-files__input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.block-files__file {
  width: 100%;
  max-width: 190px;
  height: 40px;
  background-color: #7667e8;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.block-files__file-icon {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 1px solid #fff;
}

.block-files__file-btn {
  font-weight: 400;
  line-height: 1;
  margin-top: 1px;
  font-size: 18px;
}

.block-files__list {
  padding: 10px 0;
  position: relative;
}

.block-files__item {
  display: inline-block;
  text-align: center;
  margin: 0 15px 15px;
  width: 150px;
  vertical-align: top;
  position: relative;
}

.block-files__list-img {
  width: 100px;
}

.block-files__error-message {
  margin: 0px 0px 10px 0px;
  text-align: center;
  font-size: 18px;
  color: red;
}

.block-files__list-name {
  text-align: center;
  display: block;
  font-size: 14px;
  margin: 5px 0px 5px 0px;
}

.block-files__list-type {
  text-align: center;
  display: block;
  font-size: 14px;
  margin: 0px 0px 7px 0px;
}

.block-files__list-size {
  text-align: center;
  display: block;
  font-size: 14px;
}

.block-files__list-remove {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 5px;
  right: 5px;
  background: #ff0202;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  z-index: 1;
}

.block-files__list-remove::after {
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
  z-index: 15;
  top: 40%;
  left: 12.5%;
  height: 3px;
  width: 12px;
  background-color: #fff;
}

.block-files__list-remove::before {
  content: "";
  position: absolute;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 100%;
  z-index: 15;
  top: 40%;
  left: 12.5%;
  height: 3px;
  width: 12px;
  background-color: #fff;
}

.block-files__button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  border-radius: 40px;
  padding: 12px 20px;
  background-color: #290ef7;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.highlight {
  border: 2px dashed #007bff;
  background-color: rgba(0,123,255,.1);
  -webkit-transition: background-color .3s ease,border-color .3s ease;
  transition: background-color .3s ease,border-color .3s ease;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #994ee3;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
  margin: auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (any-hover: hover) {
  .block-files__file:hover {
    background-color: #433a85;
  }

  .block-files__button:hover {
    background-color: #0e0073;
  }
}