@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Medium.woff2") format("woff2"),url("../fonts/Nunito-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: ArchivoBlack;
  font-display: swap;
  src: url("../fonts/ArchivoBlack-Regular.woff2") format("woff2"),url("../fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"),url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  font-display: swap;
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"),url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"),url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-instagram:before {
  content: "";
}

._icon-search:before {
  content: "";
}

._icon-arrow-footer:before {
  content: "";
}

._icon-linkedin:before {
  content: "";
}

._icon-youtube:before {
  content: "";
}

._icon-facebook:before {
  content: "";
}

._icon-arrow-header:before {
  content: "";
}

._icon-clock:before {
  content: "";
}

._icon-calendar:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Nunito";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background-color: rgba(252,250,249,.9);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

[class*=__container] {
  max-width: 75.4375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: relative;
  height: 4.5rem;
  padding: 1rem 0 1rem 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search {
  margin: 0px 1.625rem 0px 0px;
  font-size: 1.5rem;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9375rem;
  gap: 8px;
}

.header__link::before {
  content: "";
  font-size: 1.5rem;
  color: #bedb39;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.menu__item {
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.9375rem;
  color: #1b1f21;
  border: 1.2px solid #e8e8e8;
  border-radius: 20px;
  padding: 8px 18px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.page__article-main {
  padding: 5rem 0px 7.5rem 0px;
}

.runline {
  width: 100%;
  height: 100%;
  min-width: 100%;
  padding: 23px 0px 23px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.runline-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.runline-text {
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 3.625rem;
  line-height: 120%;
  letter-spacing: .01em;
  color: #1b1f21;
  white-space: nowrap;
}

.runline-text:not(:last-child) {
  margin-right: 126px;
}

.runline-text::after {
  content: "";
  position: absolute;
  width: 40px;
  margin: 15px 0px 0px 60px;
  -webkit-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
          transform: rotate(3deg);
  height: 40px;
  background: url("../img/runline/icon.svg") center no-repeat;
}

.runline-animated {
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.article-main__runline {
  background: #acd6de;
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg);
  margin: 0px 0px 12.25rem 0px;
}

.article-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 40px;
}

.article-main__body.body-article {
  margin: 0px 0px 8.5rem 0px;
}

.article-main__body.body-article-second {
  margin: 0px 0px 8.5rem 0px;
}

.article-main__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -35%;
  left: -20%;
  z-index: -1;
}

.article-main__image-body {
  position: relative;
}

.article-main__image {
  width: 490px;
  height: 575px;
  position: relative;
}

.article-main__image img {
  -webkit-mask-image: url("/img/gaming-block/mask-dekstop.png");
          mask-image: url("/img/gaming-block/mask-dekstop.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: bottom;
          mask-position: bottom;
  width: 490px;
  height: 575px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.article-main__image-article {
  position: relative;
}

.article-main__image-article img {
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: bottom;
          mask-position: bottom;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.article-main__image-design img {
  -webkit-mask-image: url("/img/articles-popular-first/mask-design.png");
          mask-image: url("/img/articles-popular-first/mask-design.png");
}

.article-main__image-fashion img {
  -webkit-mask-image: url("/img/articles-popular-first/mask-fashion.png");
          mask-image: url("/img/articles-popular-first/mask-fashion.png");
}

.article-main__image-design-second {
  width: 100%;
  height: 100%;
}

.article-main__image-design-second img {
  -webkit-mask-image: url("/img/articles-popular-second/mask-dekstop.png");
          mask-image: url("/img/articles-popular-second/mask-dekstop.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center;
          mask-position: center;
  width: 100%;
  height: 575px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.article-main__image-marketing img {
  -webkit-mask-image: url("/img/articles-popular-third/mask-marketing-dekstop.png");
          mask-image: url("/img/articles-popular-third/mask-marketing-dekstop.png");
}

.article-main__image-software img {
  -webkit-mask-image: url("/img/articles-popular-third/mask-software-dekstop.png");
          mask-image: url("/img/articles-popular-third/mask-software-dekstop.png");
}

.article-main__sticker {
  position: absolute;
  top: 0;
  right: 0;
}

.article-main__sticker.sticker-design-second {
  right: -3%;
  top: -5%;
}

.article-main__sticker-fashion {
  position: absolute;
  top: 3%;
  left: -7%;
}

.article-main__sticker-marketing {
  position: absolute;
  top: -5%;
  left: -15%;
}

.article-main__content {
  padding: 2.875rem 0px 0px 0;
}

.article-main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 15px;
  gap: 16px;
  grid-area: meta;
  margin: 0px 0px 1.125rem 0px;
}

.article-main__buttons.buttons-third-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.article-main__button-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-main__button-main.button-third-block {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.article-main__button-links {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-main__button {
  display: block;
  color: #94ac23;
}

.article-main__button._active {
  border-radius: 20px;
  padding: 10px 18px;
  color: #1b1f21;
  background: #bedb39;
}

.article-main__button.btn-design {
  background: #ec95b1;
}

.article-main__button.text-design {
  color: #ec95b1;
}

.article-main__button.btn-fashion {
  background: #90eecb;
}

.article-main__button.text-fashion {
  color: #90eecb;
}

.article-main__button.btn-marketing {
  background: #ffad20;
}

.article-main__button.text-marketing {
  color: #ffad20;
}

.article-main__button.btn-software {
  background: #acd6de;
}

.article-main__button.text-software {
  color: #acd6de;
}

.article-main__title {
  font-family: "ArchivoBlack";
  font-weight: 400;
  font-size: 36px;
  color: #1b1f21;
  margin: 0px 0px 1rem 0px;
}

.article-main__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  color: #757778;
  margin: 0px 0px 1rem 0px;
}

.article-main__form-button {
  grid-area: button-container;
}

.article-main__button-more {
  border-radius: 40px;
  padding: 15px 0px;
  background: #bedb39;
  color: #1b1f21;
  z-index: 2;
  width: 232px;
  height: 59px;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  position: relative;
}

.article-main__button-more span {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 49px;
  border: 1.5px double #1b1f21;
  border-radius: 30px;
  position: absolute;
}

.article-main__button-more:hover {
  background: #1b1f21;
  color: #fcfaf9;
}

.sticker-right {
  position: absolute;
  top: 3%;
  right: -7%;
}

.subcontent {
  gap: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #aeaeae;
  grid-area: article-meta;
}

.subcontent.subcontent-third-block {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  position: relative;
}

.calendar::before {
  font-size: 1.3125rem;
}

.calendar.calendar-third-block {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0px 28px 10px 0px;
}

.calendar.calendar-third-block::before {
  position: absolute;
  top: 0px;
  right: -25px;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  position: relative;
}

.time::before {
  font-size: 1.3125rem;
}

.time.time-third-block {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0px 28px 0px 0px;
}

.time.time-third-block::before {
  position: absolute;
  top: 0px;
  right: -25px;
}

.webinars-main {
  position: relative;
  z-index: 10;
  background: #1b1f21;
}

.webinars-main__runline {
  background: #ffad20;
  -webkit-transform: rotate(-1deg) translate(0px, -50%);
      -ms-transform: rotate(-1deg) translate(0px, -50%);
          transform: rotate(-1deg) translate(0px, -50%);
  z-index: 10;
}

.webinars-main__runline-subscribe {
  position: relative;
  background: #fe6d44;
  -webkit-transform: rotate(1deg) translate(0px, 72%);
      -ms-transform: rotate(1deg) translate(0px, 72%);
          transform: rotate(1deg) translate(0px, 72%);
  z-index: 10;
}

.webinars-main__main {
  z-index: 10;
}

.webinars-main__background {
  background: url("../img/webinars/bg.svg") center/cover no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.webinars-main__body {
  position: relative;
  z-index: 10;
}

.webinars-main__body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 5rem 0px;
}

.webinars-main__title {
  font-family: "ArchivoBlack";
  font-size: 2.875rem;
  color: #fcfaf9;
  line-height: 1.2;
}

.webinars-main__button {
  background: #9853f4;
  border-radius: 40px;
  padding: 17.5px 62px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #fcfaf9;
}

.webinars-main__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.webinars-main__column {
  position: relative;
  overflow: hidden;
  border-radius: 32px;
  padding: 32px;
  width: 100%;
  max-width: 376px;
  height: auto;
  min-height: 432px;
}

.webinars-main__column:first-child {
  background: #57acbc;
}

.webinars-main__column:nth-child(2) {
  background: #fe6d44;
}

.webinars-main__column:nth-child(3) {
  background: #ef9700;
}

.no-webp .webinars-main__column-background-first {
  background: url("../img/webinars/line-bg-1.png") 0 0 no-repeat; }

.webinars-main__column-background-first {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 26%;
  top: 30%;
  z-index: 1;
}

.no-webp .webinars-main__column-background-second {
  background: url("../img/webinars/line-bg-2.png") center/cover no-repeat; }

.webinars-main__column-background-second {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.no-webp .webinars-main__column-background-third {
  background: url("../img/webinars/line-bg-3.png") 0 0 no-repeat; }

.webinars-main__column-background-third {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5%;
  left: 0%;
  z-index: 1;
}

.webinars-main__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 2.8125rem 0px;
}

.webinars-main__label.margin-adaptive {
  margin: 0px 0px 1rem 0px;
}

.webinars-main__image {
  margin: 0px 20px 0px 0px;
  width: 100%;
  height: 100%;
  width: 64px;
  height: 64px;
  z-index: 10;
}

.webinars-main__image img {
  -webkit-mask-image: url("/img/webinars/mask.png");
          mask-image: url("/img/webinars/mask.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center;
          mask-position: center;
  width: 100%;
  width: 64px;
  height: 64px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.webinars-main__image.image-third img {
  height: 190px;
  -webkit-mask-position: top;
          mask-position: top;
  -o-object-position: top -13px left -35px;
     object-position: top -13px left -35px;
}

.webinars-main__name {
  font-family: "ArchivoBlack";
  font-size: 1.625rem;
  color: #fcfaf9;
  line-height: 1.2;
  margin: 0px 0px 0.25rem 0px;
}

.webinars-main__profession {
  color: #fcfaf9;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.webinars-main__text {
  font-family: "ArchivoBlack";
  font-size: 1.875rem;
  color: #fcfaf9;
  line-height: 1.2;
  margin: 0px 0px 2.5rem 0px;
  height: 144px;
}

.webinars-main__subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fcfaf9;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.4;
}

.webinars-main__top-subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  margin: 0px 0px 0.75rem 0px;
}

.webinars-main__bottom-subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.webinars-main__calendar {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.subscribe {
  position: relative;
  background: #f2f2f2;
  padding: 11.875rem 0px 0rem 0px;
}

.subscribe__main-block {
  margin: 0px 0px 8.4375rem 0px;
}

.subscribe__body {
  z-index: 15;
  height: 518px;
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #57acbc;
  -webkit-mask-image: url("/img/subscribe/mask-main.png");
          mask-image: url("/img/subscribe/mask-main.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
  -webkit-mask-position: center;
          mask-position: center;
}

.no-webp .subscribe__bg {
  background: url("../img/subscribe/line-bg.png") 0 0 no-repeat; }

.subscribe__bg {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 100%;
  top: 18%;
  left: 19%;
}

.subscribe__content {
  padding: 64px 0px 0px 104px;
  z-index: 15;
}

.subscribe__title {
  font-family: "ArchivoBlack";
  font-size: 2.25rem;
  color: #fcfaf9;
  margin: 0px 0px 8px 0px;
  width: 626px;
}

.subscribe__text {
  width: 626px;
  font-size: 1.125rem;
  font-weight: 400;
  color: #fcfaf9;
  line-height: 1.6;
  margin: 0px 0px 88px 0px;
}

.subscribe__form {
  gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 16px 0px;
}

.subscribe__form-input {
  border: 1.5px solid #fcfaf9;
  background: inherit;
  border-radius: 88px;
  padding: 10px 24px;
  width: 280px;
  height: 49px;
}

.subscribe__form-input::-webkit-input-placeholder {
  color: #e8e8e8;
  font-size: 1.125rem;
  line-height: 1.6;
}

.subscribe__form-input::-moz-placeholder {
  color: #e8e8e8;
  font-size: 1.125rem;
  line-height: 1.6;
}

.subscribe__form-input:-ms-input-placeholder {
  color: #e8e8e8;
  font-size: 1.125rem;
  line-height: 1.6;
}

.subscribe__form-input::-ms-input-placeholder {
  color: #e8e8e8;
  font-size: 1.125rem;
  line-height: 1.6;
}

.subscribe__form-input::placeholder {
  color: #e8e8e8;
  font-size: 1.125rem;
  line-height: 1.6;
}

.subscribe__form-input:not(:-moz-placeholder-shown) {
  color: #e8e8e8;
  font-size: 1.125rem;
  line-height: 1.6;
}

.subscribe__form-input:not(:-ms-input-placeholder) {
  color: #e8e8e8;
  font-size: 1.125rem;
  line-height: 1.6;
}

.subscribe__form-input:not(:placeholder-shown) {
  color: #e8e8e8;
  font-size: 1.125rem;
  line-height: 1.6;
}

.subscribe__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #fcfaf9;
  width: 280px;
  height: 49px;
  border-radius: 40px;
  padding: 10px 0px;
  background: #fe6d44;
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 18px;
  width: 536px;
  position: relative;
}

.subscribe__checkbox-input {
  position: relative;
  min-width: 24px;
  min-height: 24px;
  border-radius: 4px;
  background-color: #fcfaf9;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 1.5px solid #fcfaf9;
}

.subscribe__checkbox-input::after {
  content: "";
  background: url("../img/subscribe/checked.svg") center/contain no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  width: 15px;
  height: 11px;
  top: 6px;
  left: 3px;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.subscribe__checkbox-input:checked::after {
  opacity: 1;
}

.subscribe__checkbox-text {
  font-size: 0.9375rem;
  line-height: 1.1666666667;
  color: #fcfaf9;
}

.subscribe__checkbox-text span {
  text-decoration: underline;
}

.subscribe__image {
  position: relative;
  z-index: 13;
}

.subscribe__bg-line {
  position: relative;
}

.subscribe__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  z-index: 20;
  -webkit-transform: translate(5px, -98.5%);
      -ms-transform: translate(5px, -98.5%);
          transform: translate(5px, -98.5%);
  width: 426px;
  height: 526px;
}

.subscribe__background img {
  width: 426px;
  height: 526px;
  -webkit-mask-image: url("/img/subscribe/mask-letter-dekstop.png");
          mask-image: url("/img/subscribe/mask-letter-dekstop.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
}

.subscribe__runline-descuento {
  background: #da3369;
}

@media (min-width: 79.9375em) {
  .article-main__body.body-article-second {
    display: block;
  }

  .subcontent.subcontent-first-block {
    margin: 0px 0px 3.5rem 0px;
  }
}

@media (min-width: 48em) {
  .article-main__content.content-article-second {
    padding: 1.5rem 0px 0px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 20px 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: 75px 20px auto;
    grid-template-rows: 75px auto;
        grid-template-areas: "meta content" "article-meta content";
    gap: 20px;
  }

  .article-main__label {
    margin: 0px 0px 1.75rem 0px;
  }
  .article-main__buttons {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .subcontent {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

@media (max-width: 60em) {
  .menu__body {
    position: absolute;
    left: 5%;
    top: 125%;
  }
}

@media (max-width: 48em) {
  .article-main__runline {
    margin: 0px 0px 10.25rem 0px;
  }

  .article-main__body.body-article {
    display: block;
  }

  .article-main__topcontent {
    margin: 0px 0px 104px 0px;
  }

  .article-main__image {
    max-width: 304px;
    height: 352px;
    margin: 0 auto;
  }

  .article-main__image img {
    -webkit-mask-image: url("/img/gaming-block/mask-mobile.png");
            mask-image: url("/img/gaming-block/mask-mobile.png");
    -webkit-mask-size: 100%;
            mask-size: 100%;
    min-width: 304px;
    height: 352px;
    -webkit-mask-position: bottom;
            mask-position: bottom;
    -o-object-position: bottom;
       object-position: bottom;
  }

  .article-main__image-article {
    margin: 0 auto;
    width: 304px;
    height: 354px;
  }

  .article-main__image-article img {
    -webkit-mask-size: contain;
            mask-size: contain;
    width: 304px;
    height: 354px;
  }

  .article-main__image-design img {
    -webkit-mask-image: url("/img/articles-popular-first/mask-design-mobile.png");
            mask-image: url("/img/articles-popular-first/mask-design-mobile.png");
    -o-object-position: bottom 0px left -50px;
       object-position: bottom 0px left -50px;
  }

  .article-main__image-fashion img {
    -webkit-mask-image: url("/img/articles-popular-first/mask-fashion-mobile.png");
            mask-image: url("/img/articles-popular-first/mask-fashion-mobile.png");
  }

  .article-main__image-design-second img {
    -webkit-mask-image: url("/img/articles-popular-second/mask-mobile.png");
            mask-image: url("/img/articles-popular-second/mask-mobile.png");
    -webkit-mask-size: contain;
            mask-size: contain;
    min-width: 304px;
    min-height: 354px;
    height: 100%;
  }

  .article-main__image-marketing img {
    -webkit-mask-image: url("/img/articles-popular-third/mask-marketing-mobile.png");
            mask-image: url("/img/articles-popular-third/mask-marketing-mobile.png");
    -webkit-mask-size: contain;
            mask-size: contain;
  }

  .article-main__image-software img {
    -webkit-mask-image: url("/img/articles-popular-third/mask-software-mobile.png");
            mask-image: url("/img/articles-popular-third/mask-software-mobile.png");
    -webkit-mask-size: contain;
            mask-size: contain;
  }

  .article-main__sticker {
    top: 0%;
    right: 25%;
  }

  .article-main__sticker.sticker-design-second {
    left: 25%;
    top: 5%;
  }

  .article-main__sticker img {
    height: 104px;
  }

  .article-main__sticker-fashion {
    left: 30%;
    top: 3%;
  }

  .article-main__sticker-fashion img {
    height: 120px;
  }

  .article-main__sticker-marketing {
    left: 30%;
    top: 3%;
  }

  .article-main__sticker-marketing img {
    height: 120px;
  }

  .article-main__content {
    gap: 0px;
        grid-template-areas: "meta meta" "content content" "article-meta article-meta" "button-container button-container";
  }

  .article-main__buttons {
    margin: 0px 0px 1rem 0px;
  }

  .article-main__buttons.buttons-third-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .article-main__buttons.buttons-first-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    justify-items: end;
  }

  .sticker-right {
    right: 29%;
    top: 4%;
  }

  .sticker-right img {
    height: 120px;
  }

  .subcontent.subcontent-third-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0px 0px 3.5rem 0px;
  }

  .subcontent.subcontent-first-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 0px 0px 3.5rem 0px;
  }

  .calendar.calendar-third-block {
    margin: 0px 28px 0px 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .calendar.calendar-third-block::before {
    position: static;
  }

  .calendar.calendar-first-block {
    margin: 0px 0px 0px 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .calendar.calendar-first-block::before {
    position: static;
  }

  .time.time-first-block {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .time.time-first-block::before {
    position: static;
  }

  .webinars-main__body-content {
    margin: 0px 0px 2.5rem 0px;
  }

  .webinars-main__columns {
    gap: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .webinars-main__column {
    min-height: 351px;
  }

  .webinars-main__column:first-child {
    height: 100%;
    max-width: 304px;
    min-height: 351px;
  }

  .webinars-main__column:nth-child(2) {
    height: 100%;
    max-width: 304px;
    min-height: 391px;
  }

  .webinars-main__column:nth-child(3) {
    min-height: 370px;
    height: 100%;
    max-width: 304px;
  }

  .webinars-main__column-background-first {
    top: 12%;
    left: 17%;
  }

  .webinars-main__column-background-second {
    top: 0%;
  }

  .no-webp .webinars-main__column-background-third {
    background: url("../img/webinars/line-bg-1.png") 0 0 no-repeat; }

  .webinars-main__column-background-third {
    top: 10%;
    left: 17%;
  }

  .webinars-main__name {
    font-size: 1.375rem;
  }

  .webinars-main__profession {
    max-width: 170px;
  }

  .webinars-main__text {
    margin: 0px 0px 2rem 0px;
  }

  .webinars-main__text.text-adaptive_third {
    height: 116px;
  }

  .webinars-main__bottom-subcontent {
    gap: 15px;
  }

  .webinars-main__bottom-subcontent.third-space {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .article-main__content > .article-main__buttons {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .article-main__form-button {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .article-main__content > .subcontent {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media (max-width: 20em) {
  .article-main__sticker {
    top: 0%;
    right: 0%;
  }

  .article-main__sticker.sticker-design-second {
    left: 0%;
    top: 5%;
  }
}

@media (max-width: 79.9375em) {
  .runline-text {
    font-size: 1.875rem;
  }

  .runline-text::after {
    content: "";
    margin: 0px 0px 0px 60px;
  }

  .article-main__runline {
    margin: 0px 0px 11.0625rem 0px;
  }

  .article-main__body {
    gap: 24px;
    display: block;
  }

  .article-main__body.body-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 7.5rem 0px;
  }

  .article-main__body.body-article-second {
    margin: 0px 0px 6.5rem 0px;
  }

  .article-main__image {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .article-main__image img {
    -webkit-mask-image: url("/img/gaming-block/mask-table.png");
            mask-image: url("/img/gaming-block/mask-table.png");
    width: 100%;
    min-width: 704px;
    -webkit-mask-position: center;
            mask-position: center;
    -o-object-position: center;
       object-position: center;
  }

  .article-main__image-design img {
    -webkit-mask-image: url("/img/articles-popular-first/mask-design-table.png");
            mask-image: url("/img/articles-popular-first/mask-design-table.png");
  }

  .article-main__image-fashion img {
    -webkit-mask-image: url("/img/articles-popular-first/mask-fashion-table.png");
            mask-image: url("/img/articles-popular-first/mask-fashion-table.png");
  }

  .article-main__image-design-second img {
    -webkit-mask-image: url("/img/articles-popular-second/mask-table.png");
            mask-image: url("/img/articles-popular-second/mask-table.png");
  }

  .article-main__image-marketing img {
    -webkit-mask-image: url("/img/articles-popular-third/mask-marketing-table.png");
            mask-image: url("/img/articles-popular-third/mask-marketing-table.png");
  }

  .article-main__image-software img {
    -webkit-mask-image: url("/img/articles-popular-third/mask-software-table.png");
            mask-image: url("/img/articles-popular-third/mask-software-table.png");
  }

  .article-main__sticker {
    top: 15%;
  }

  .article-main__sticker.sticker-design-second {
    right: 0%;
    top: 10%;
  }

  .article-main__sticker.sticker-design-second img {
    height: 120px;
  }

  .article-main__sticker img {
    height: 108px;
  }

  .article-main__sticker-fashion {
    left: 70%;
    top: 8%;
  }

  .article-main__sticker-fashion img {
    height: 104px;
  }

  .article-main__sticker-marketing {
    left: 70%;
    top: 8%;
  }

  .article-main__sticker-marketing img {
    height: 104px;
  }

  .article-main__content {
    padding: 1.5rem 0px 0px 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 20px 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: auto 20px auto 20px 1fr 20px auto;
    grid-template-rows: auto auto 1fr auto;
        grid-template-areas: "meta content" "meta content" "article-meta content" "button-container button-container";
    gap: 20px;
  }

  .article-main__content.adaptive-content {
    display: block;
  }

  .article-main__buttons.buttons-first-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .article-main__button-main.button-first-block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .article-main__label {
    grid-area: content;
  }

  .article-main__button-more {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sticker-right img {
    height: 104px;
  }

  .sticker-right {
    top: 10%;
    right: 8%;
  }

  .subcontent.subcontent-first-block {
    display: block;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .calendar.calendar-first-block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin: 0px 28px 10px 0px;
  }

  .calendar.calendar-first-block::before {
    position: absolute;
    top: 0px;
    right: -25px;
  }

  .time.time-first-block {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin: 0px 28px 0px 0px;
  }

  .time.time-first-block::before {
    position: absolute;
    top: 0px;
    right: -25px;
  }

  .webinars-main__body-content {
    margin: 0px 0px 4rem 0px;
  }

  .webinars-main__title {
    font-size: 1.75rem;
  }

  .webinars-main__columns {
    gap: 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .webinars-main__column {
    padding: 24px;
  }

  .webinars-main__column:first-child {
    width: 100%;
    height: 100%;
    max-width: 340px;
    min-height: 401px;
  }

  .webinars-main__column:nth-child(2) {
    width: 100%;
    height: 100%;
    min-height: 401px;
    max-width: 340px;
  }

  .webinars-main__column:nth-child(3) {
    width: 100%;
    height: 100%;
    min-height: 272px;
    max-width: 704px;
  }

  .no-webp .webinars-main__column-background-second {
    background: url("../img/webinars/line-bg-2-table.png") 0 0 no-repeat; }

  .webinars-main__column-background-second {
    top: 7%;
    left: 9%;
  }

  .no-webp .webinars-main__column-background-third {
    background: url("../img/webinars/line-bg-3-table.png") 0 0 no-repeat; }

  .webinars-main__column-background-third {
    top: 0%;
  }

  .webinars-main__label {
    margin: 0px 0px 1rem 0px;
  }

  .webinars-main__text {
    height: 58px;
    font-size: 1.5rem;
    margin: 0px 0px 2rem 0px;
  }

  .webinars-main__text.text-adaptive_first {
    height: 116px;
    margin: 0px 0px 5.125rem 0px;
  }

  .webinars-main__text.text-adaptive_second {
    height: 116px;
    margin: 0px 0px 2rem 0px;
  }

  .webinars-main__bottom-subcontent {
    gap: 51px;
  }

  .webinars-main__bottom-subcontent.third-space {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .subscribe__body {
    -webkit-mask-image: url("/img/subscribe/mask-main-table.png");
            mask-image: url("/img/subscribe/mask-main-table.png");
    height: 498px;
    width: 557px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 0 auto;
  }

  .subscribe__content {
    padding: 40px 0px 0px 24px;
  }

  .subscribe__title {
    width: 368px;
    font-size: 1.625rem;
  }

  .subscribe__text {
    width: 368px;
  }

  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .subscribe__checkbox-text {
    width: 328px;
  }

  .subscribe__background {
    width: 488px;
    height: 498px;
    height: 100%;
    height: auto;
    -webkit-transform: translate(-10%, -100%);
        -ms-transform: translate(-10%, -100%);
            transform: translate(-10%, -100%);
  }

  .subscribe__background img {
    height: auto;
    height: 100%;
    width: 488px;
    height: 498px;
    -o-object-position: top;
       object-position: top;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-mask-image: url("/img/subscribe/mask-letter-table.png");
            mask-image: url("/img/subscribe/mask-letter-table.png");
  }

  .article-main__content > .article-main__buttons {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .article-main__content > .article-main__form-button {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .article-main__content > .subcontent {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
}

@media (min-width: 48em) {
  .article-main__label {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
  }
}

@media (max-width: 48em) {

  .article-main__content > .article-main__label {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media (max-width: 79.9375em) {

  .article-main__content > .article-main__label {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
  }
}

@media (max-width: 62.8125em) {
  .article-main__image {
    width: 100%;
    height: 440px;
    margin: 0 auto;
  }

  .article-main__image img {
    width: 100%;
    height: auto;
    height: 440px;
    -webkit-mask-position: center;
            mask-position: center;
    -o-object-position: center;
       object-position: center;
  }
}

@media (max-width: 56.25em) {
  .article-main__image-design-second {
    height: 400px;
  }

  .article-main__image-design-second img {
    height: 400px;
  }
}

@media (max-width: 47.99875em) {
  .header {
    padding: 1rem 0.5rem 1rem 0.5rem;
  }
}

@media (max-width: 43.125em) {
  .article-main__sticker-fashion {
    left: 25%;
  }

  .article-main__sticker-marketing {
    left: 25%;
  }

  .sticker-right {
    right: 20%;
  }
}

@media (max-width: 34.25em) {
  .article-main__sticker {
    top: 0%;
    right: 10%;
  }

  .article-main__sticker.sticker-design-second {
    left: 18%;
    top: 5%;
  }
}

@media (max-width: 31.375em) {
  .article-main__sticker-fashion {
    left: 15%;
  }

  .article-main__sticker-marketing {
    left: 15%;
  }

  .sticker-right {
    right: 10%;
  }
}

@media (max-width: 26.375em) {
  .article-main__sticker {
    top: 0%;
    right: 5%;
  }

  .article-main__sticker.sticker-design-second {
    left: 10%;
    top: 5%;
  }
}

@media (max-width: 26.5625em) {
  .article-main__button-more {
    width: calc(100% - 10px);
  }
}

@media (max-width: 23.875em) {
  .article-main__sticker-fashion {
    left: 0%;
  }

  .article-main__sticker-marketing {
    left: 0%;
  }

  .sticker-right {
    right: -5%;
  }
}

@media (any-hover: hover) {
  .menu__item:hover {
    background: #bedb39;
  }
}

.webp .webinars-main__column-background-first { background: url(../img/webinars/line-bg-1.webp) 0 0 no-repeat; }

.webp .webinars-main__column-background-second { background: url(../img/webinars/line-bg-2.webp) center/cover no-repeat; }

.webp .webinars-main__column-background-third { background: url(../img/webinars/line-bg-3.webp) 0 0 no-repeat; }

.webp .subscribe__bg { background: url(../img/subscribe/line-bg.webp) 0 0 no-repeat; }

@media (max-width: 48em) {

  .webp .webinars-main__column-background-third { background: url(../img/webinars/line-bg-1.webp) 0 0 no-repeat; }
}

@media (max-width: 79.9375em) {

  .webp .webinars-main__column-background-second { background: url(../img/webinars/line-bg-2-table.webp) 0 0 no-repeat; }
}

@media (max-width: 79.9375em) {

  .webp .webinars-main__column-background-third { background: url(../img/webinars/line-bg-3-table.webp) 0 0 no-repeat; }
}