.wrapper {
    position: relative;
    perspective: 1000px;
    width: 150px;
    height: 150px;
  }
  
  .shared-styles {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .front-img {
    transform: rotateY(180deg);
  }
  
  .front-img.flipped {
    transform: rotateY(0);
  }
  
  .back-img {
    transform: rotateY(0);
  }
  
  .back-img.flipped {
    transform: rotateY(-180deg);
  }
  